<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IWcfService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44000/wcfservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpsBinding_IWcfService" contract="SampleServiceRef.IWcfService"
                name="BasicHttpsBinding_IWcfService" />
        </client>
    </system.serviceModel>
</configuration>